@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Karla');

h1{
    font-family: 'Sigmar One', cursive;
    text-align: center;
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgb(113, 171, 209);
}
body{
    font-family: 'Karla', sans-serif;
    background-image: url(" https://ak6.picdn.net/shutterstock/videos/712807/thumb/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.freeshipping{
    color: #e6342b;
    font-weight: bold;
}   
.WrapperFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px;
    padding: 20px;
}
.itemsContainerWrapper{
    background-color: #ccc;
    min-height: 300px;
    height: auto;
}
.containerItems{
    /* border: 1px solid rgb(28, 126, 165);  */
    background-color: rgb(255, 255, 255);
    margin: 20px;
    width: 300px;
    height: auto;
    padding: 0;  
    box-shadow: 1px 1px 1px 1px rgb(95, 110, 170);
}
button {
    background: #1a4f72;
    color: #ffffff;
    font-size: 12px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
}
button:hover {
    background: #316788;
    text-decoration: none;
}
.label{
    padding: 20px;
}
 h3{
    color: rgb(14, 40, 155);
}
.imageZoomDiv  img{
    max-width: 100%;
    transition: all 0.3s;
}
.imageZoomDiv img:hover{
    transform: scale(1.1);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .imageZoomDiv{
    position: relative;
    overflow: hidden;
  }
