#wrapper{
    width: 85%; 
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;  
    border: 1px solid rgb(195, 214, 200); 
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px 1px #ccc;
    padding: 60px;
}
.Wrapper-Flex{ 
     width: 300px;
}
img{
    width: 300px;
    height: 200px;
}    
.countDown{
    border: 1px solid #000; 
    width: 40%;
    margin: 30px auto 10px auto;

}

h2{
    text-align: center;
}
#wrapperItemPost{
    width: 50%; 
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-bottom: 20px;   
    display: flex;
    justify-content: space-around;  
    border: 1px solid rgb(195, 214, 200); 
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px 1px #ccc;
}
.Wrapper-Flex a{
    color: rgb(37, 48, 202);
}
.Wrapper-Flex a:hover{
    color: rgb(202, 15, 15);
}
.Wrapper-Flex img {
    border: 1px solid rgb(14, 12, 12);
    box-shadow: 1px 1px 1px 1px rgb(95, 110, 170);
}