.divNavBar{
    background-color: 	#4682B4;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 20px;
    box-shadow: 1px 1px 1px 2px rgb(70, 204, 36);
    }      
    a {
        text-decoration: none;
        color: #ccc;    
    }
    a:hover{
        color: rgb(235, 95, 95);
    }
    .itemNavBar{
        padding-left: 20px;
        padding-right: 10px;
        
    }
.itemNavBarRight{
  padding-right: 800px;
}
.footerDivClass{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footerInside{
    padding-left: 40px;
    /* background-color: rgb(172, 118, 118); */
    
}
.footerCopyRight{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;  
    border: 1px solid #ccc;
    background: linear-gradient(to bottom, #c4c0c0 16%, #8b8b8f 92%);    
 
}
.developer{
    
    text-align: center; 
}

.developer h4{
    margin-top: 15px;
}
.footerInside h3 {
    color: rgb(23, 54, 102);
}