
.outerDivContainer{
  margin-left: 400px;
  height: 70vh;
}
.outerDivContainer h1{
  margin-left: -360px;
}
.innerDiv{

    width: 400px;
    margin-bottom: 50px;
    padding: 30px;  
    border: 1px solid rgb(195, 214, 200); 
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px 1px #ccc;
}
a{
  color: #fff;
  text-decoration: none;
}
p{
  border-bottom: 1px solid #ccc;
  padding: 5px;
}
.innerDiv img{
  border: 1px solid #000;
  box-shadow: 1px 1px 1px 1px rgb(95, 110, 170);
}