input{
    width: 200px;
    margin: 5px 0 5px 0;    
    font-size: 14px;    
}
.WrapperUserForm{
    margin-top: 15px;
    margin-bottom: 15px;    
}
.UserForm{
    border: 1px solid rgb(206, 197, 197);
    padding: 10px;  
    border-radius: 8px;
}
.UserForm input {
    width: 250px;
}