.bid_Wrapper{
    /* background-color: #ccc; */
    /* box-shadow: 1px 1px 1px rgb(25, 25, 26); */
    border-bottom: 1px solid #000;
    margin-top: 10px;
    padding-left: 5px;
}
.bid_now{
    background-color: red;
}
.bid_now:hover{ 
    background-color: rgb(207, 88, 88);
}
button{
    margin-left: 5px;
}